/*
*{
  border:#000 1px solid  
}
*/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #236eaf;
}


  input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 0;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:white;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: black;
    color: #9f9fa0;
  }
  
  .container {
    border-radius: 5px;
    background-color: #0c77d4;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    position: sticky;
  }


  .submit{
    border: 0;
    padding: 16px 40px;
    background-color: #10fd04;
    font-size: 20px;
   align-self: flex-end;
   border-radius: 10px;
   margin-bottom: 100px;
  }

  .submit:hover{
    background-color: #000;
    color: #061566;
    border-radius: 10px;
    
  }


  footer{
    position:relative;
    bottom: 0;
    left: 0;
    width: auto;
    background-color: #f0f0f0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: #000 1px solid;
  }

  .footercontainer{
  display: grid;
  grid-template-columns: 4fr 1fr 1fr; 
  gap: 60px;
  margin-bottom: 0px;
}

@media screen and (max-width: 600px){
  .footercontainer2{
    display: none;
    visibility: hidden;
  }
 
  .footercontainer{
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    right: 0;
  }
} 
@media screen and (max-width: 293px){
  .footercontainer{
    display: none;
    visibility: hidden;
  }
}
  



