* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mobile-nav {
  display: none;
}


@media screen and (max-width:767px) {
  .mobile-nav {
    display: flex;
  }

  .nav-ul {
    display: none;
  }

}
#articleContainer {
  text-align: center;
  padding: 2rem;
  max-width: 100%;
  margin: 0;
}
.card {
  margin-bottom: 20px;
}
